In [15]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/NigGusta/ICD-Projeto-Final/main/csv/resultados_candidato_1oturno.csv')
df.head()

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,zona,secao,cargo,numero_partido,sigla_partido,sequencial_candidato,numero_candidato,id_candidato_bd,votos
0,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10180,1126356.0,3
1,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10190,1709709.0,2
2,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10234,1575874.0,1
3,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10345,1201455.0,1
4,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10444,78716.0,4

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33985 entries, 0 to 33984
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ano                   33985 non-null  int64
 1   turno                 33985 non-null  int64
 2   tipo_eleicao          33985 non-null  object
 3   sigla_uf              33985 non-null  object
 4   id_municipio          33985 non-null  int64
 5   id_municipio_tse      33985 non-null  int64
 6   zona                  33985 non-null  int64
 7   secao                 33985 non-null  int64
 8   cargo                 33985 non-null  object
 9   numero_partido        33939 non-null  float64
 10  sigla_partido         33939 non-null  object
 11  sequencial_candidato  33939 non-null  float64
 12  numero_candidato      33985 non-null  int64
 13  id_candidato_bd       33939 non-null  float64
 14  votos                 33985 non-null  int64
dtypes: float64(3), int64(8), object(4)
memory usage: 3.9+ MB

In [18]:
df.zona.unique()

array([ 1, 64], dtype=int64)

In [5]:
#Filtrando as colunas de interesse
colunas = ['turno', 'zona', 'secao', 'cargo', 'sigla_partido', 'numero_candidato', 'votos']
df = df[colunas]
df.head()

,turno,zona,secao,cargo,sigla_partido,numero_candidato,votos
0,1,1,1,deputado estadual,REPUBLICANOS,10180,3
1,1,1,1,deputado estadual,REPUBLICANOS,10190,2
2,1,1,1,deputado estadual,REPUBLICANOS,10234,1
3,1,1,1,deputado estadual,REPUBLICANOS,10345,1
4,1,1,1,deputado estadual,REPUBLICANOS,10444,4

In [14]:
df.zona.unique()

array([ 1, 64], dtype=int64)

In [11]:
#Filtrando por cargo
filtro = df['cargo'] == 'presidente'
colunas = ['zona', 'sigla_partido']
df_presidente = df[filtro]
df_presidente
df_presidente.groupby(colunas)['votos'].sum()

zona  sigla_partido
1     DC                13
      NOVO             321
      PCB               28
      PSTU              16
      PTB               51
      UNIÃO            298
      UP                58
64    DC                 9
      NOVO              87
      PCB               16
      PSTU              12
      PTB               26
      UNIÃO            136
      UP                10
Name: votos, dtype: int64