In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/NigGusta/ICD-Projeto-Final/main/csv/resultados_candidato_1oturno.csv')
df.head()

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,zona,secao,cargo,numero_partido,sigla_partido,sequencial_candidato,numero_candidato,id_candidato_bd,votos
0,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10180,1126356.0,3
1,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10190,1709709.0,2
2,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10234,1575874.0,1
3,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10345,1201455.0,1
4,2022,1,eleicao ordinaria,PB,2507507,20516,1,1,deputado estadual,10.0,REPUBLICANOS,1.500016e+11,10444,78716.0,4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33985 entries, 0 to 33984
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ano                   33985 non-null  int64
 1   turno                 33985 non-null  int64
 2   tipo_eleicao          33985 non-null  object
 3   sigla_uf              33985 non-null  object
 4   id_municipio          33985 non-null  int64
 5   id_municipio_tse      33985 non-null  int64
 6   zona                  33985 non-null  int64
 7   secao                 33985 non-null  int64
 8   cargo                 33985 non-null  object
 9   numero_partido        33939 non-null  float64
 10  sigla_partido         33939 non-null  object
 11  sequencial_candidato  33939 non-null  float64
 12  numero_candidato      33985 non-null  int64
 13  id_candidato_bd       33939 non-null  float64
 14  votos                 33985 non-null  int64
dtypes: float64(3), int64(8), object(4)
memory usage: 3.9+ MB

In [4]:
df.zona.unique()

array([ 1, 64], dtype=int64)

In [5]:
#Filtrando as colunas de interesse
colunas = ['turno', 'zona', 'secao', 'cargo', 'sigla_partido', 'numero_candidato', 'votos']
df = df[colunas]
df.head()

,turno,zona,secao,cargo,sigla_partido,numero_candidato,votos
0,1,1,1,deputado estadual,REPUBLICANOS,10180,3
1,1,1,1,deputado estadual,REPUBLICANOS,10190,2
2,1,1,1,deputado estadual,REPUBLICANOS,10234,1
3,1,1,1,deputado estadual,REPUBLICANOS,10345,1
4,1,1,1,deputado estadual,REPUBLICANOS,10444,4

In [6]:
df.zona.unique()

array([ 1, 64], dtype=int64)

In [7]:
#Filtrando por cargo
filtro = df['cargo'] == 'presidente'
colunas = ['zona', 'sigla_partido']
df_presidente = df[filtro]
df_presidente
df_presidente.groupby(colunas)['votos'].sum()

zona  sigla_partido
1     DC                13
      NOVO             321
      PCB               28
      PSTU              16
      PTB               51
      UNIÃO            298
      UP                58
64    DC                 9
      NOVO              87
      PCB               16
      PSTU              12
      PTB               26
      UNIÃO            136
      UP                10
Name: votos, dtype: int64

In [15]:
df2 = pd.read_excel('C:\ICD-Projeto-Final\csv\puracaoZona_1_e_2.xls')
df2.head()

,uf,cid,nome,zid,urnas_1,urnas_2,ultimo_voto_1,ultimo_voto_2,aptos_1,aptos_2,...,voto_transito_1,voto_transito_2,voto_justificado_1,voto_justificado_2,votos_sem_biometria_1,votos_sem_biometria_2,media_ponto_biometria_1,media_ponto_biometria_2,url_tse_1,url_tse_2
0,AC,1120,ACRELANDIA,8,42,42,2022-10-02 15:39:28,2022-10-30 15:18:39,9521,9522,...,0,0,244,233,2879,1949,33,39.0,https://resultados.tse.jus.br/oficial/app/inde...,https://resultados.tse.jus.br/oficial/app/inde...
1,AC,1570,ASSIS BRASIL,6,23,23,2022-10-02 16:54:28,2022-10-30 15:16:04,6390,6389,...,1,0,101,119,1162,724,45,48.0,https://resultados.tse.jus.br/oficial/app/inde...,https://resultados.tse.jus.br/oficial/app/inde...
2,AC,1058,BRASILEIA,6,71,71,2022-10-02 16:28:40,2022-10-30 15:11:38,18195,18197,...,3,0,362,333,3206,1970,45,50.0,https://resultados.tse.jus.br/oficial/app/inde...,https://resultados.tse.jus.br/oficial/app/inde...
3,AC,1007,BUJARI,9,35,35,2022-10-02 16:17:51,2022-10-30 15:17:49,9947,9948,...,0,0,140,168,2914,1076,32,46.0,https://resultados.tse.jus.br/oficial/app/inde...,https://resultados.tse.jus.br/oficial/app/inde...
4,AC,1015,CAPIXABA,2,31,31,2022-10-02 16:37:52,2022-10-30 15:15:11,7836,7836,...,0,0,145,169,4283,1199,17,40.0,https://resultados.tse.jus.br/oficial/app/inde...,https://resultados.tse.jus.br/oficial/app/inde...

In [20]:
df2.uf.unique()

array(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG',
       'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR',
       'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)

In [23]:
df3 = pd.read_excel('C:\ICD-Projeto-Final\csv\puracaoCidade_1_e_2.xls')
df3.columns

Index(['uf', 'cid', 'nome', 'urnas_1', 'urnas_2', 'ultimo_voto_1',
       'ultimo_voto_2', 'aptos_1', 'aptos_2', 'faltou_1', 'faltou_2',
       'total_eleitores_log_1', 'total_eleitores_log_2',
       'total_eleitores_boletim_1', 'total_eleitores_boletim_2',
       'total_eleitores_rdv_1', 'total_eleitores_rdv_1.1',
       'votos_boletim_PR22_1', 'votos_boletim_PR22_2', 'votos_boletim_PR13_1',
       'votos_boletim_PR13_2', 'votos_rdv_PR22_1', 'votos_rdv_PR22_2',
       'votos_rdv_PR13_1', 'votos_rdv_PR13_2', 'branco_PR_boletim_1',
       'branco_PR_boletim_2', 'branco_PR_rdv_1', 'branco_PR_rdv_2',
       'media_brancos_boletim_1', 'media_brancos_rdv_1',
       'outra_pessoa_votou_nolugar_1', 'outra_pessoa_votou_nolugar_2',
       'voto_transito_1', 'voto_transito_2', 'voto_justificado_1',
       'voto_justificado_2', 'votos_sem_biometria_1', 'votos_sem_biometria_2',
       'media_ponto_biometria_1', 'media_ponto_biometria_2', 'url_tse_1',
       'url_tse_2'],
      dtype='object')